<section class="about" id="about">
    <h1 class="about__title">About Us</h1>
    <div class="about__container d-flex-jc-sb">
      <div class="about__image">
        <img src="../../../assets/images/banner.jpg" alt="banner" />
      </div>
      <div class="about__content">
        <h1>Your Online Medical Store in India.</h1>
        <h2>
          Tired of walking all the way to your local medicine store? Worried that
          going out is risky during the current times? Order medicines online at
          Medicare.
        </h2>
        <ul>
          <li>1,200+ cities and 20,000+ Pin codes served</li>
          <li>Express Delivery</li>
          <li>1 Lakh+ medicines available</li>
          <li>Cash on delivery option available</li>
          <li>Attractive offers</li>
          <li>Cashback option through wallet</li>
          <li>Stringent quality checks</li>
        </ul>
        <button class="about__btn">Learn More</button>
      </div>
    </div>
  </section>