<footer class="footer">
  <div class="footer__grid">
    <ul>
      <h1>Company</h1>
      <li>About Medicare</li>
      <li>Contact</li>
      <li>Return, Refund</li>
      <li>Cancellation Policy</li>
      <li>Terms and Conditions</li>
      <li>Privacy Policy</li>
      <li>Fees and Payments Policy</li>
      <li>Shipping and Delivery Policy</li>
    </ul>
    <ul>
      <h1>Our Services</h1>
      <li>Browse by A-Z</li>
      <li>Privacy Policy</li>
      <li>Offers / Coupons</li>
      <li>FAQ</li>
    </ul>
    <ul>
      <h1>Social</h1>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
      <li>LinkedIn</li>
      <li>Youtube</li>
    </ul>
    <div class="foot_lower">
        <h1>SUBSCRIBE TO OUR NEWSLETTER</h1>
        <p>Get a free subscription to our health and fitness tip and stay tuned to our latest offers</p>
        <input type="email" placeholder="Enter your email address"><button class="sub-btn primary-btn">Subscribe</button>
    </div>
  </div>
</footer>
