<app-navbar></app-navbar>
<app-messagebox [message]="message" *ngIf="success"></app-messagebox>
<section class="admincreate">
    <div class="admincreate__left">
        <img src="../../../assets/images/banner.jpg" alt="banner">
    </div>
    <div class="admincreate__right">
        Admin Name<input type="text" name="adminname" [(ngModel)]="admin.name" required #name="ngModel">
        <br><span *ngIf="name.invalid && name.touched" class="error-color">Enter a valid Name</span>
        Password<input type="password" name="password" [(ngModel)]="admin.password" required #pass="ngModel">
        <br><span *ngIf="pass.invalid && pass.touched" class="error-color">Enter a valid password</span>
        Email<input type="email" name="adminEmail" [(ngModel)]="admin.email" required #email="ngModel">
        <br><span *ngIf="email.invalid && email.touched" class="error-color">Enter a valid email</span>
        <button class="secondary-btn" (click)="CreateAdmin()">Create Admin</button>
    </div>
</section>