.medicine {
    background: var(--bg-light-color);
    height: 100vh;
}

.medicine>h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1.25rem 0rem;
}

.medicine__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.625rem;
    row-gap: 1.25rem;
    width: 90%;
    margin: 1.875rem auto;
    text-align: center;

}

.medicine__items {
    background-color: var(--bg-white-color);
    border-radius: 0.625rem;
    height: fit-content;
    padding: 0.625rem;
    box-shadow: var(--s-shadow);
}


img {
    width: 6.25rem;
    height: 6.25rem;
}

.medicine__btn {
    width: 90%;
    background: var(--bg-green-color);
    color: white;
    font-weight: var(--p-weight);
    border-radius: 5px;
    height: 1.875rem;
    margin-top: 0.625rem;

}

.medicine__lower>h2 {
    margin: 5px 0px;
}


/* media queries */

@media screen and (min-width: 575px) {
    .medicine__container {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1.25rem;

    }
}

@media screen and (min-width: 899px) {
    .medicine__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 1.25rem;
        row-gap: 1.5625rem;

    }
}

@media screen and (min-width: 1200px) {
    .medicine__container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 2rem;
        row-gap: 1.8rem;

    }
}