<app-navbar></app-navbar>
<section class="dashboard">
    <h1>Admin Dashboard</h1>
    <section class="dashlink">

       <a class="card d-flex-jc-sa-c" routerLink="/admin/dashboard/users">
        <div class="card__info">
            <i class="fa-solid fa-users fa-3x"></i>
        </div>
        <hr>
        <h2>View All Users</h2>
       </a>

       <a class="card" routerLink="/admin/dashboard/products">
        <div class="card__info">
            <i class="fa-solid fa-cart-shopping fa-3x"></i>
        </div>
        <hr>
        <h2>View All Products</h2>
       </a>

       <a class="card" routerLink="/admin/dashboard/createadmin">
        <div class="card__info">
            <i class="fa-sharp fa-solid fa-user fa-3x"></i>
        </div>
        <hr>
        <h2>Create Admin</h2>
       </a>

       <a class="card" routerLink="/admin/dashboard/createusers">
        <div class="card__info">
            <i class="fa-solid fa-person fa-3x"></i>
        </div>
        <hr>
        <h2>Create User</h2>
       </a>

       <a class="card d-flex-jc-sa-c" routerLink="/admin/dashboard/createproducts">
        <div class="card__info">
            <i class="fa-solid fa-syringe fa-3x"></i>
        </div>
        <hr>
        <h2>Create Medicine</h2>
       </a>
    </section>
</section>
